<a href="https://colab.research.google.com/github/KenaMuigai/dataScienceEvaluation/blob/main/Datascience_evaluation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Imports, Grabbing the dataset, Reading the dataset, getting the shape of data

Imports

In [77]:
import pandas as pd
import numpy as np
import io
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.linear_model import Lasso, LassoCV
from sklearn.feature_selection import SelectFromModel
from sklearn.model_selection import train_test_split, KFold,cross_val_score,GridSearchCV,RandomizedSearchCV
from sklearn.decomposition import PCA
from sklearn import linear_model,metrics
from sklearn.metrics import mean_squared_error

Grabbing Our Dataset

In [119]:
from google.colab import files
uploaded = files.upload()

Saving Train_data.csv to Train_data (1).csv

Reading the training data file

In [121]:
galaxy = pd.read_csv(io.BytesIO(uploaded['Train_data.csv'])) #using IO for categories such as raw/binary/text input
galaxy.head()

,ID,galactic year,galaxy,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),...,"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),Well-Being Index
0,10065,1002001,Antlia B,0.624015,56.397241,17649.87156,0.458599,7.857841,5.196527,0.507534,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.041404
1,10087,999000,KKH 11 (ZOAG G135.74-04.53),0.970048,80.924094,11409.94296,0.757218,15.869798,13.065734,0.807108,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.098777
2,10141,993012,Leo IV Dwarf,0.995540,82.441006,58774.29343,1.032429,17.545117,11.399711,0.973684,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.200747
3,10168,995006,NGC 185,1.004362,75.635986,34960.41911,0.707776,13.578086,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.546539,NaN,0.562809,0.067170
4,10201,996004,Grus I,1.050627,83.412540,17073.45121,0.951402,13.518157,11.749071,0.965452,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.078351

Grabbing the number of rows and columns in our dataset

In [5]:
galaxy.shape #gives us an idea of how data looks like

(3097, 81)

In [6]:
galaxy.info() #gives us information like shape(rows + columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3097 entries, 0 to 3096
Data columns (total 81 columns):
 #   Column                                                                                   Non-Null Count  Dtype
---  ------                                                                                   --------------  -----
 0   ID                                                                                       3097 non-null   int64
 1   galactic year                                                                            3097 non-null   int64
 2   galaxy                                                                                   3097 non-null   object
 3   existence expectancy index                                                               3096 non-null   float64
 4   existence expectancy at birth                                                            3096 non-null   float64
 5   Gross income per capita                                                                  3069 non-null   float64
 6   Income Index                                                                             3069 non-null   float64
 7   Expected years of education (galactic years)                                             2968 non-null   float64
 8   Mean years of education (galactic years)                                                 2742 non-null   float64
 9   Intergalactic Development Index (IDI)                                                    2716 non-null   float64
 10  Education Index                                                                          2716 non-null   float64
 11  Intergalactic Development Index (IDI), Rank                                              2678 non-null   float64
 12  Population using at least basic drinking-water services (%)                              1286 non-null   float64
 13  Population using at least basic sanitation services (%)                                  1282 non-null   float64
 14  Gross capital formation (% of GGP)                                                       869 non-null    float64
 15  Population, total (millions)                                                             693 non-null    float64
 16  Population, urban (%)                                                                    693 non-null    float64
 17  Mortality rate, under-five (per 1,000 live births)                                       693 non-null    float64
 18  Mortality rate, infant (per 1,000 live births)                                           681 non-null    float64
 19  Old age dependency ratio (old age (65 and older) per 100 creatures (ages 15-64))         688 non-null    float64
 20  Population, ages 15â€“64 (millions)                                                      688 non-null    float64
 21  Population, ages 65 and older (millions)                                                 688 non-null    float64
 22  Life expectancy at birth, male (galactic years)                                          688 non-null    float64
 23  Life expectancy at birth, female (galactic years)                                        688 non-null    float64
 24  Population, under age 5 (millions)                                                       688 non-null    float64
 25  Young age (0-14) dependency ratio (per 100 creatures ages 15-64)                         688 non-null    float64
 26  Adolescent birth rate (births per 1,000 female creatures ages 15-19)                     676 non-null    float64
 27  Total unemployment rate (female to male ratio)                                           662 non-null    float64
 28  Vulnerable employment (% of total employment)                                            662 non-null    float64
 29  Unemployment, total (% of labour force)                                                  662 non-null    float64
 30  Employment in agriculture (% of total employment)                                        662 non-null    float64
 31  Labour force participation rate (% ages 15 and older)                                    665 non-null    float64
 32  Labour force participation rate (% ages 15 and older), female                            665 non-null    float64
 33  Employment in services (% of total employment)                                           662 non-null    float64
 34  Labour force participation rate (% ages 15 and older), male                              665 non-null    float64
 35  Employment to population ratio (% ages 15 and older)                                     662 non-null    float64
 36  Jungle area (% of total land area)                                                       663 non-null    float64
 37  Share of employment in nonagriculture, female (% of total employment in nonagriculture)  662 non-null    float64
 38  Youth unemployment rate (female to male ratio)                                           661 non-null    float64
 39  Unemployment, youth (% ages 15â€“24)                                                     661 non-null    float64
 40  Mortality rate, female grown up (per 1,000 people)                                       688 non-null    float64
 41  Mortality rate, male grown up (per 1,000 people)                                         688 non-null    float64
 42  Infants lacking immunization, red hot disease (% of one-galactic year-olds)              643 non-null    float64
 43  Infants lacking immunization, Combination Vaccine (% of one-galactic year-olds)          643 non-null    float64
 44  Gross galactic product (GGP) per capita                                                  633 non-null    float64
 45  Gross galactic product (GGP), total                                                      633 non-null    float64
 46  Outer Galaxies direct investment, net inflows (% of GGP)                                 601 non-null    float64
 47  Exports and imports (% of GGP)                                                           593 non-null    float64
 48  Share of seats in senate (% held by female)                                              572 non-null    float64
 49  Natural resource depletion                                                               579 non-null    float64
 50  Mean years of education, female (galactic years)                                         591 non-null    float64
 51  Mean years of education, male (galactic years)                                           589 non-null    float64
 52  Expected years of education, female (galactic years)                                     555 non-null    float64
 53  Expected years of education, male (galactic years)                                       554 non-null    float64
 54  Maternal mortality ratio (deaths per 100,000 live births)                                676 non-null    float64
 55  Renewable energy consumption (% of total final energy consumption)                       659 non-null    float64
 56  Estimated gross galactic income per capita, male                                         485 non-null    float64
 57  Estimated gross galactic income per capita, female                                       485 non-null    float64
 58  Rural population with access to electricity (%)                                          457 non-null    float64
 59  Domestic credit provided by financial sector (% of GGP)                                  540 non-null    float64
 60  Population with at least some secondary education, female (% ages 25 and older)          574 non-null    float64
 61  Population with at least some secondary education, male (% ages 25 and older)            574 non-null    float64
 62  Gross fixed capital formation (% of GGP)                                                 557 non-null    float64
 63  Remittances, inflows (% of GGP)                                                          501 non-null    float64
 64  Population with at least some secondary education (% ages 25 and older)                  551 non-null    float64
 65  Intergalactic inbound tourists (thousands)                                               459 non-null    float64
 66  Gross enrolment ratio, primary (% of primary under-age population)                       561 non-null    float64
 67  Respiratory disease incidence (per 100,000 people)                                       321 non-null    float64
 68  Interstellar phone subscriptions (per 100 people)                                        317 non-null    float64
 69  Interstellar Data Net users, total (% of population)                                     309 non-null    float64
 70  Current health expenditure (% of GGP)                                                    308 non-null    float64
 71  Intergalactic Development Index (IDI), female                                            389 non-null    float64
 72  Intergalactic Development Index (IDI), male                                              388 non-null    float64
 73  Gender Development Index (GDI)                                                           387 non-null    float64
 74  Intergalactic Development Index (IDI), female, Rank                                      379 non-null    float64
 75  Intergalactic Development Index (IDI), male, Rank                                        378 non-null    float64
 76  Adjusted net savings                                                                     443 non-null    float64
 77  Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total                516 non-null    float64
 78  Private galaxy capital flows (% of GGP)                                                  379 non-null    float64
 79  Gender Inequality Index (GII)                                                            357 non-null    float64
 80  Well-Being Index                                                                         3097 non-null   float64
dtypes: float64(78), int64(2), object(1)
memory usage: 1.9+ MB



# 2. Seperating features, Checking for missing data, Filling in Missing Data/Deleting Colums

In [7]:
galaxy['galaxy'].nunique()

181

In [8]:
galaxy['galaxy'] = galaxy['galaxy'].astype('category')
galaxy.dtypes

ID                                                                              int64
galactic year                                                                   int64
galaxy                                                                       category
existence expectancy index                                                    float64
existence expectancy at birth                                                 float64
                                                                               ...
Adjusted net savings                                                          float64
Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total     float64
Private galaxy capital flows (% of GGP)                                       float64
Gender Inequality Index (GII)                                                 float64
Well-Being Index                                                              float64
Length: 81, dtype: object

In [9]:
galaxy["galaxy"] = galaxy["galaxy"].cat.codes
galaxy.head()

,ID,galactic year,galaxy,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),...,"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),Well-Being Index
0,10065,1002001,24,0.624015,56.397241,17649.87156,0.458599,7.857841,5.196527,0.507534,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.041404
1,10087,999000,85,0.970048,80.924094,11409.94296,0.757218,15.869798,13.065734,0.807108,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.098777
2,10141,993012,100,0.995540,82.441006,58774.29343,1.032429,17.545117,11.399711,0.973684,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.200747
3,10168,995006,113,1.004362,75.635986,34960.41911,0.707776,13.578086,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.546539,NaN,0.562809,0.067170
4,10201,996004,66,1.050627,83.412540,17073.45121,0.951402,13.518157,11.749071,0.965452,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.078351

Checking for Missing Data

In [10]:
pd.set_option('display.max_rows',None)
galaxy.isna().sum()

ID                                                                                            0
galactic year                                                                                 0
galaxy                                                                                        0
existence expectancy index                                                                    1
existence expectancy at birth                                                                 1
Gross income per capita                                                                      28
Income Index                                                                                 28
Expected years of education (galactic years)                                                129
Mean years of education (galactic years)                                                    355
Intergalactic Development Index (IDI)                                                       381
Education Index                                                                             381
Intergalactic Development Index (IDI), Rank                                                 419
Population using at least basic drinking-water services (%)                                1811
Population using at least basic sanitation services (%)                                    1815
Gross capital formation (% of GGP)                                                         2228
Population, total (millions)                                                               2404
Population, urban (%)                                                                      2404
Mortality rate, under-five (per 1,000 live births)                                         2404
Mortality rate, infant (per 1,000 live births)                                             2416
Old age dependency ratio (old age (65 and older) per 100 creatures (ages 15-64))           2409
Population, ages 15â€“64 (millions)                                                        2409
Population, ages 65 and older (millions)                                                   2409
Life expectancy at birth, male (galactic years)                                            2409
Life expectancy at birth, female (galactic years)                                          2409
Population, under age 5 (millions)                                                         2409
Young age (0-14) dependency ratio (per 100 creatures ages 15-64)                           2409
Adolescent birth rate (births per 1,000 female creatures ages 15-19)                       2421
Total unemployment rate (female to male ratio)                                             2435
Vulnerable employment (% of total employment)                                              2435
Unemployment, total (% of labour force)                                                    2435
Employment in agriculture (% of total employment)                                          2435
Labour force participation rate (% ages 15 and older)                                      2432
Labour force participation rate (% ages 15 and older), female                              2432
Employment in services (% of total employment)                                             2435
Labour force participation rate (% ages 15 and older), male                                2432
Employment to population ratio (% ages 15 and older)                                       2435
Jungle area (% of total land area)                                                         2434
Share of employment in nonagriculture, female (% of total employment in nonagriculture)    2435
Youth unemployment rate (female to male ratio)                                             2436
Unemployment, youth (% ages 15â€“24)                                                       2436
Mortality rate, female grown up (per 1,000 people)                                         2409
Mortality rate, male grown up (per 1,000 people)                                           2409
Infants lacking immunization, red hot disease (% of one-galactic year-olds)                2454
Infants lacking immunization, Combination Vaccine (% of one-galactic year-olds)            2454
Gross galactic product (GGP) per capita                                                    2464
Gross galactic product (GGP), total                                                        2464
Outer Galaxies direct investment, net inflows (% of GGP)                                   2496
Exports and imports (% of GGP)                                                             2504
Share of seats in senate (% held by female)                                                2525
Natural resource depletion                                                                 2518
Mean years of education, female (galactic years)                                           2506
Mean years of education, male (galactic years)                                             2508
Expected years of education, female (galactic years)                                       2542
Expected years of education, male (galactic years)                                         2543
Maternal mortality ratio (deaths per 100,000 live births)                                  2421
Renewable energy consumption (% of total final energy consumption)                         2438
Estimated gross galactic income per capita, male                                           2612
Estimated gross galactic income per capita, female                                         2612
Rural population with access to electricity (%)                                            2640
Domestic credit provided by financial sector (% of GGP)                                    2557
Population with at least some secondary education, female (% ages 25 and older)            2523
Population with at least some secondary education, male (% ages 25 and older)              2523
Gross fixed capital formation (% of GGP)                                                   2540
Remittances, inflows (% of GGP)                                                            2596
Population with at least some secondary education (% ages 25 and older)                    2546
Intergalactic inbound tourists (thousands)                                                 2638
Gross enrolment ratio, primary (% of primary under-age population)                         2536
Respiratory disease incidence (per 100,000 people)                                         2776
Interstellar phone subscriptions (per 100 people)                                          2780
Interstellar Data Net users, total (% of population)                                       2788
Current health expenditure (% of GGP)                                                      2789
Intergalactic Development Index (IDI), female                                              2708
Intergalactic Development Index (IDI), male                                                2709
Gender Development Index (GDI)                                                             2710
Intergalactic Development Index (IDI), female, Rank                                        2718
Intergalactic Development Index (IDI), male, Rank                                          2719
Adjusted net savings                                                                       2654
Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total                  2581
Private galaxy capital flows (% of GGP)                                                    2718
Gender Inequality Index (GII)                                                              2740
Well-Being Index                                                                              0
dtype: int64

Galaxy datasaet has 3,098 rows of data. If the column has >1500 values missing it will be dropped(deleted).

In [11]:
original_features = list(galaxy.columns)
original_features
len(original_features)

81

In [12]:
features_with_missing_values = list(galaxy.columns[galaxy.isna().any()])
features_with_missing_values
len(features_with_missing_values)

77

In [13]:
len(galaxy)

3097

In [14]:
for feature in features_with_missing_values:
  print(feature,' ',(galaxy[feature].isna().sum())/len(galaxy)*100)

existence expectancy index   0.03228931223764934
existence expectancy at birth   0.03228931223764934
Gross income per capita   0.9041007426541814
Income Index   0.9041007426541814
Expected years of education (galactic years)   4.165321278656765
Mean years of education (galactic years)   11.462705844365514
Intergalactic Development Index (IDI)   12.302227962544396
Education Index   12.302227962544396
Intergalactic Development Index (IDI), Rank   13.529221827575071
Population using at least basic drinking-water services (%)   58.475944462382955
Population using at least basic sanitation services (%)   58.60510171133355
Gross capital formation (% of GGP)   71.94058766548272
Population, total (millions)   77.62350661930901
Population, urban (%)   77.62350661930901
Mortality rate, under-five (per 1,000 live births)   77.62350661930901
Mortality rate, infant (per 1,000 live births)   78.0109783661608
Old age dependency ratio (old age (65 and older) per 100 creatures (ages 15-64))   77.78495318049725
Population, ages 15â€“64 (millions)   77.78495318049725
Population, ages 65 and older (millions)   77.78495318049725
Life expectancy at birth, male (galactic years)   77.78495318049725
Life expectancy at birth, female (galactic years)   77.78495318049725
Population, under age 5 (millions)   77.78495318049725
Young age (0-14) dependency ratio (per 100 creatures ages 15-64)   77.78495318049725
Adolescent birth rate (births per 1,000 female creatures ages 15-19)   78.17242492734906
Total unemployment rate (female to male ratio)   78.62447529867613
Vulnerable employment (% of total employment)   78.62447529867613
Unemployment, total (% of labour force)   78.62447529867613
Employment in agriculture (% of total employment)   78.62447529867613
Labour force participation rate (% ages 15 and older)   78.52760736196319
Labour force participation rate (% ages 15 and older), female   78.52760736196319
Employment in services (% of total employment)   78.62447529867613
Labour force participation rate (% ages 15 and older), male   78.52760736196319
Employment to population ratio (% ages 15 and older)   78.62447529867613
Jungle area (% of total land area)   78.5921859864385
Share of employment in nonagriculture, female (% of total employment in nonagriculture)   78.62447529867613
Youth unemployment rate (female to male ratio)   78.65676461091378
Unemployment, youth (% ages 15â€“24)   78.65676461091378
Mortality rate, female grown up (per 1,000 people)   77.78495318049725
Mortality rate, male grown up (per 1,000 people)   77.78495318049725
Infants lacking immunization, red hot disease (% of one-galactic year-olds)   79.23797223119148
Infants lacking immunization, Combination Vaccine (% of one-galactic year-olds)   79.23797223119148
Gross galactic product (GGP) per capita   79.56086535356796
Gross galactic product (GGP), total   79.56086535356796
Outer Galaxies direct investment, net inflows (% of GGP)   80.59412334517275
Exports and imports (% of GGP)   80.85243784307394
Share of seats in senate (% held by female)   81.53051340006458
Natural resource depletion   81.30448821440103
Mean years of education, female (galactic years)   80.91701646754925
Mean years of education, male (galactic years)   80.98159509202453
Expected years of education, female (galactic years)   82.07943170810462
Expected years of education, male (galactic years)   82.11172102034226
Maternal mortality ratio (deaths per 100,000 live births)   78.17242492734906
Renewable energy consumption (% of total final energy consumption)   78.72134323538909
Estimated gross galactic income per capita, male   84.33968356474007
Estimated gross galactic income per capita, female   84.33968356474007
Rural population with access to electricity (%)   85.24378430739425
Domestic credit provided by financial sector (% of GGP)   82.56377139166936
Population with at least some secondary education, female (% ages 25 and older)   81.46593477558928
Population with at least some secondary education, male (% ages 25 and older)   81.46593477558928
Gross fixed capital formation (% of GGP)   82.01485308362932
Remittances, inflows (% of GGP)   83.82305456893768
Population with at least some secondary education (% ages 25 and older)   82.20858895705521
Intergalactic inbound tourists (thousands)   85.17920568291896
Gross enrolment ratio, primary (% of primary under-age population)   81.88569583467871
Respiratory disease incidence (per 100,000 people)   89.63513077171457
Interstellar phone subscriptions (per 100 people)   89.76428802066516
Interstellar Data Net users, total (% of population)   90.02260251856636
Current health expenditure (% of GGP)   90.05489183080401
Intergalactic Development Index (IDI), female   87.43945753955441
Intergalactic Development Index (IDI), male   87.47174685179205
Gender Development Index (GDI)   87.50403616402971
Intergalactic Development Index (IDI), female, Rank   87.7623506619309
Intergalactic Development Index (IDI), male, Rank   87.79463997416855
Adjusted net savings    85.69583467872134
Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total   83.33871488537295
Private galaxy capital flows (% of GGP)   87.7623506619309
Gender Inequality Index (GII)   88.47271553115918

In [122]:
galaxy.dropna(axis='columns', thresh = 0.5 * len(galaxy), inplace = True)
galaxy.head()

,ID,galactic year,galaxy,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,"Intergalactic Development Index (IDI), Rank",Well-Being Index
0,10065,1002001,Antlia B,0.624015,56.397241,17649.87156,0.458599,7.857841,5.196527,0.507534,0.471400,247.196654,0.041404
1,10087,999000,KKH 11 (ZOAG G135.74-04.53),0.970048,80.924094,11409.94296,0.757218,15.869798,13.065734,0.807108,0.837559,137.299057,0.098777
2,10141,993012,Leo IV Dwarf,0.995540,82.441006,58774.29343,1.032429,17.545117,11.399711,0.973684,0.890396,74.709302,0.200747
3,10168,995006,NGC 185,1.004362,75.635986,34960.41911,0.707776,13.578086,NaN,NaN,NaN,NaN,0.067170
4,10201,996004,Grus I,1.050627,83.412540,17073.45121,0.951402,13.518157,11.749071,0.965452,0.798000,141.210462,0.078351

In [16]:
galaxy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3097 entries, 0 to 3096
Data columns (total 13 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   ID                                            3097 non-null   int64
 1   galactic year                                 3097 non-null   int64
 2   galaxy                                        3097 non-null   int16
 3   existence expectancy index                    3096 non-null   float64
 4   existence expectancy at birth                 3096 non-null   float64
 5   Gross income per capita                       3069 non-null   float64
 6   Income Index                                  3069 non-null   float64
 7   Expected years of education (galactic years)  2968 non-null   float64
 8   Mean years of education (galactic years)      2742 non-null   float64
 9   Intergalactic Development Index (IDI)         2716 non-null   float64
 10  Education Index                               2716 non-null   float64
 11  Intergalactic Development Index (IDI), Rank   2678 non-null   float64
 12  Well-Being Index                              3097 non-null   float64
dtypes: float64(10), int16(1), int64(2)
memory usage: 296.5 KB

For columns with missing values

1.   <100 will use the forward fill
2.   101 > x < 500 will use mean fill / median fill

In [17]:
mean_fill = ['Expected years of education (galactic years)','Mean years of education (galactic years)','Intergalactic Development Index (IDI)','Education Index','Intergalactic Development Index (IDI), Rank']
print(len(mean_fill))

5

In [18]:
ffill =['existence expectancy index','existence expectancy at birth','Gross income per capita','Income Index']
print(len(ffill))

4

In [19]:
for feature in mean_fill:
    galaxy[feature].fillna(galaxy[feature].mean(),inplace=True)

In [20]:
for feature in ffill:
    galaxy[feature].fillna(method='ffill',inplace=True)

In [21]:
galaxy.isna().any()

ID                                              False
galactic year                                   False
galaxy                                          False
existence expectancy index                      False
existence expectancy at birth                   False
Gross income per capita                         False
Income Index                                    False
Expected years of education (galactic years)    False
Mean years of education (galactic years)        False
Intergalactic Development Index (IDI)           False
Education Index                                 False
Intergalactic Development Index (IDI), Rank     False
Well-Being Index                                False
dtype: bool

In [22]:
galaxy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3097 entries, 0 to 3096
Data columns (total 13 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   ID                                            3097 non-null   int64
 1   galactic year                                 3097 non-null   int64
 2   galaxy                                        3097 non-null   int16
 3   existence expectancy index                    3097 non-null   float64
 4   existence expectancy at birth                 3097 non-null   float64
 5   Gross income per capita                       3097 non-null   float64
 6   Income Index                                  3097 non-null   float64
 7   Expected years of education (galactic years)  3097 non-null   float64
 8   Mean years of education (galactic years)      3097 non-null   float64
 9   Intergalactic Development Index (IDI)         3097 non-null   float64
 10  Education Index                               3097 non-null   float64
 11  Intergalactic Development Index (IDI), Rank   3097 non-null   float64
 12  Well-Being Index                              3097 non-null   float64
dtypes: float64(10), int16(1), int64(2)
memory usage: 296.5 KB

# 3. Building our model, optimizing our hyperparameters and training our data

Feature Extraction using Lasso

In [91]:
y=galaxy['Well-Being Index']
x=galaxy.drop('Well-Being Index',axis=1)

In [92]:
from sklearn.linear_model import Lasso, LassoCV

In [93]:
regressor = LassoCV()
regressor.fit(x,y)

LassoCV()

In [94]:
coef_col = (regressor.coef_)
selected = x.columns[(coef_col != 0 )]
selected

Index(['ID', 'galactic year', 'Gross income per capita',
       'Intergalactic Development Index (IDI), Rank'],
      dtype='object')

In [95]:
rejected = x.columns[(coef_col == 0 )]
rejected

Index(['galaxy', 'existence expectancy index', 'existence expectancy at birth',
       'Income Index', 'Expected years of education (galactic years)',
       'Mean years of education (galactic years)',
       'Intergalactic Development Index (IDI)', 'Education Index'],
      dtype='object')

In [96]:
X = galaxy.drop(rejected, axis=1)

In [97]:
scaler = StandardScaler()
X=scaler.fit_transform(X)

Splitting data

In [98]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [99]:
print(X_train.shape)

(2074, 5)

In [100]:
print(y_train.shape)

(2074,)

In [101]:
print(X_test.shape)

(1023, 5)

In [102]:
print(y_test.shape)

(1023,)

Scaling & building the model

In [103]:
pca = PCA(n_components=2)

In [104]:
p_components=pca.fit_transform(X)
#combination of fit + tranform
#fit - uses the required method - compute mean and standard deviation
#transform - apply what youve used for fit

In [105]:
p_components

array([[-2.32030856,  0.06686778],
       [-0.46291211, -0.48933901],
       [ 2.82783878, -0.92836599],
       ...,
       [-0.62871614,  3.08789624],
       [-2.33555275,  3.22242923],
       [-2.17245976,  3.40687663]])

In [106]:
pca.explained_variance_ratio_

array([0.44103827, 0.33180334])

Training our model(Regression)

In [107]:
regressor = LassoCV()

In [108]:
regressor.fit(p_components,y)

LassoCV()

In [109]:
regressor.coef_

array([0.03219765, 0.00318248])

In [110]:
regressor.intercept_

0.0827236270100097

Model Selection(Linear, Lasso, Ridge, Elastic)

In [114]:
result = {}
models = {'LinearRegression':linear_model.LinearRegression(),
          'Lasso':linear_model.Lasso(),
          'Ridge':linear_model.Ridge(),
          'ElasticNet':linear_model.ElasticNet()}

for i in models:
    models[i].fit(X_train,y_train)
    accuracy = models[i].score(X_test,y_test)
    result[i]=[accuracy]
pd.DataFrame(result)

   LinearRegression     Lasso  Ridge  ElasticNet
0               1.0 -0.000058    1.0   -0.000058

# Validation

In [51]:
from google.colab import files
uploaded = files.upload()

Saving Validation.csv to Validation.csv

K-Fold Cross Validation

In [53]:
kfold = KFold(n_splits=4)
for i in models:
  regressor = models[i]
  c_validated = cross_val_score(regressor,X_train,y_train,cv=kfold)  
  accuracy = c_validated.mean()
  result[i]=[accuracy]
pd.DataFrame(result)

   LinearRegression    Lasso     Ridge  ElasticNet
0               1.0 -0.00165  0.999999    -0.00165

Hyperparameter Tuning using Grid Search

In [54]:
for i in models:
  regressor = models[i]
  if i == 'Lasso':
    lasso_params = {'alpha':[0.02, 0.024, 0.025, 0.026, 0.03],'max_iter':[1000,1100,2000],'tol':[0.001,0.0001,0.000001]}
    grid = GridSearchCV(regressor,param_grid=lasso_params,cv=2,n_jobs=-1)
    results = grid.fit(X_train,y_train)
    print("Best Params are ", results.best_params_)
    #accuracy = results.score(X_test,y_test)
    accuracy=results.best_score_
  else:    
    c_validated = cross_val_score(regressor,X_train,y_train,cv=kfold)  
    accuracy = c_validated.mean()
  result[i]=[accuracy]
pd.DataFrame(result)

Best Params are  {'alpha': 0.02, 'max_iter': 1000, 'tol': 0.001}

   LinearRegression     Lasso     Ridge  ElasticNet
0               1.0  0.864147  0.999999    -0.00165

Hyperparameter Tuning using Random Search

In [55]:
for i in models:
  regressor = models[i]
  if i == 'Lasso':
    random = RandomizedSearchCV(regressor,param_distributions=lasso_params,cv=3,n_jobs=-1)
    results = random.fit(X_train,y_train)
    print(results.best_score_)
    print("Best Params are ", results.best_params_)
    #accuracy = results.score(X_test,y_test)
    accuracy=results.best_score_
  else:    
    c_validated = cross_val_score(regressor,X_train,y_train,cv=kfold)  
    accuracy = c_validated.mean()
  result[i]=[accuracy]
pd.DataFrame(result)

0.8661008006192734
Best Params are  {'tol': 0.0001, 'max_iter': 1100, 'alpha': 0.02}

   LinearRegression     Lasso     Ridge  ElasticNet
0               1.0  0.866101  0.999999    -0.00165